Rapport/*
!Rapport/Rapport.pdf
!Rapport/Rapport.tex

TERPROPRE/*
!TERPROPRE/*.c
!TERPROPRE/*.h
!TERPROPRE/data
!TERPROPRE/*.R
!TERPROPRE/*.pdf
!TERPROPRE/Makefile

TERPLUS/*
!TERPLUS/*.c
!TERPLUS/*.h
!TERPLUS/data
!TERPLUS/*.R
!TERPLUS/*.pdf
!TERPLUS/Makefile
